
.body {
  font-family: Uni Sans SemiBold, Uni Sans Book, Helvetica, Arial, Verdana, sans-serif !important;
}

.page {
  background-color: white !important;
}

.footerToolbar {
  background-color: rgb(204, 6, 19) !important;
}

.menuItem {
  background-color: rgb(240, 241, 242) !important;
  border-width: 3px  !important;
  border-bottom-color: red !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.menuItem div[class*="sapMSLITitle"]{
  color: red !important;  
}

.menuSeparator {
  background-color: rgb(240, 241, 242) !important;
}

.menuSeparator div[class*="sapMSLITitleOnly"]{
  color: red !important;
}

.preservedWhiteSpace {
  white-space: pre;
}

.deviceInfoVLayout {
  width: 100% !important;
}

.deviceInfoPortConnected{
  background-color: blue !important;
  color: white;
  padding: 5px;
}

.sapMBarContainer .sapMIBar .sapMHeader-CTX {
  background-color: rgb(240, 241, 242) !important;
}

.sapMBarLeft, .sapMBarRight {
  display: flex  !important;
  align-items: flex-end !important;
}

.sapMSLIInfo{
  color: rgb(102,102,102) !important;
}

.deviceListDialog header h1 {
  color: red !important;
}

.netIOTTextImage {
  max-height: 150px;
  margin-top: 5em;
  margin-bottom: 4em;
}

.profinetImage {
  max-height: 150px;
  text-align: center !important;
  margin-top: 4em;
}

.deviceDescription {
  width: 100% !important;
}

.vBoxCenter {
  width: 100% !important;
  height:100% !important;
  text-align: center !important;
}

.deviceListSearchField {
  border-color: red;  
  text-align: center !important;
}

.iconColumn {
  width: 20px !important;
}

.sectionText{
  color: red !important;
  font-size: 1.125rem !important;
}

.titleText{
  margin-top: 1em !important;
  font-size: 1.5em;
  color: red !important;
}

.redColor{  
  color: red !important;
}

.verticalAlignTop {
  vertical-align: top !important;
}

.mitLicense {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
  text-decoration: underline !important;
}

.customPageTitle header div[class*="sapMTitle"]{
  color: red !important;
}

.customPageTitle header[class*="sapMPageHeader"]{
  height: 4rem !important;
}

.customPageTitle header[class*="sapMPageHeader"] div[class*="sapMBarPH"]{
  height: 4rem !important;
}

.customPageTitle header[class*="sapMPageHeader"] div[class*="sapMTitle"]{
  margin-top: 1rem !important;
}

.homePageTitle header[class*="sapMPageHeader"] div[class*="sapMTitle"]{
  margin-left: 3em !important;
}

.loginButton {
  min-width: 6em !important;
}

.noBorderBottom {
  border-bottom: 0px !important;
}

.okCancelButtons {
  min-width: 10em;
}

.noMarginLeft {
  margin-left: 0 !important;
}

.noMarginRight {
  margin-right: 0 !important;
}

.invalidInput input{
  border-width: 0.20em !important;
  border-color: red !important;
}

.customIcon span{
  color: rgba(255,0,0,0.6) !important;
}

.customList li div[class*="sapMCbMark"]:hover{
  border-color: rgba(255,0,0,0.6) !important;
}

.customForm input:hover, .customForm input:focus{
  border-color: rgba(255,0,0,0.6) !important;
}

.licenseText {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}

.textUnderline {
  text-decoration: underline !important;
}

.sapMCbBg.sapMCbMarkChecked::before {
  color: rgba(255,0,0,0.6) !important;
}

.sapMLIB.sapMLIBSelected, .sapMLIB.sapMLIBSelected > td {
  background: #F0F0F0 !important;
}

.sapUiFormResGridCont > div {
  text-align: center !important;
}

.sapMPageHeader::before {
  border-top: 0.25rem solid red !important;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
